@import 'tailwindcss';

@theme {
  --color-navy: #012c64;
  --color-navy-light: #007ffc;
  --color-navy-dark: #011e47;
  --color-navy-accent: #007ffc;
  --color-brand-50: #eef6ff;
  --color-brand-100: #d6ebff;
  --color-brand-200: #a8d4ff;
  --color-gc-navy: #012c64;
  --color-gc-blue: #007ffc;
  --color-gc-light: #eef6ff;
  --font-sans: 'DM Sans', system-ui, sans-serif;
}
